<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="~/css/Tablet.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <script src="~/css/Tablet.css"></script>
</head>
<body>
    <header>
        <video src="~/videos/gradient.mp4" autoplay loop muted></video>
        <div class="overlay">
            <h1>Bitte nicht stören.</h1>
        </div>
        <img src="~/images/AVCheck_klein.svg"> 
    </header>
    <script src="js/scripts.js"></script>
</body>
</html>
