

header {
    background: url(image.jpg);
    height: 100vh;
    margin-bottom: 2rem;
    background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.0);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

img {
    width: auto;
    height: 50px;
    padding-top: 0.5%;
    padding-left: 0.7%;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
